<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GOVIND</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>

<header class="nav">
    <h2>Risk Prediction Portal</h2>
    <p class="subtitle">AI Powered Regional Risk Intelligence System</p>
</header>

<main>
    <div class="container">
        <div class="box1">
            <h1>Welcome to GOVIND 🤖</h1>
            <p>ML based system for identifying high-risk and low-risk regions.</p>
        </div>
        <div class="box2">
            <a href="{{ url_for('prediction') }}">Explore GOVIND</a>
        </div>
    </div>
</main>

<footer>
    <p>© 2026 Risk Prediction Portal</p>
</footer>

</body>
</html>


